@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #2680c0;
  --clr-primary-dark: hsl(205, 100%, 21%);
  --clr-primary-light: hsl(205, 84%, 74%);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* more global css */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

/*
=============== 
Navbar
===============
*/
.loading {
  text-align: center;
  margin-top: 5rem;
}

.navbar {
  background-color: #6e6e75;
  padding: 1.25rem 2rem;
}

.navbar-center {
  display: flex;
  max-width: var(--fixed-width);
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo h2 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: rgb(245, 241, 241);
  font-weight: 600;
}

.right {
  position: relative;
}

.right svg {
  width: 2rem;
  fill: var(--clr-white);
}

.right .cart-amount {
  position: absolute;
  top: -0.85rem;
  right: -0.85rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: maroon;
}

.right .cart-amount p {
  font-size: 1.25rem;
  color: var(--clr-white);
  text-align: center;
}

/*
=============== 
Products
===============
*/

.product-section {
  padding: 1.5rem;
}

.product-title h2 {
  text-align: center;
}

.products-center {
  max-width: var(--large-screen-width);
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product {
  background-color: rgb(245, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--lightShadow);
  border-radius: var(--mainBorderRadius);
  margin: 1.7rem;
  width: auto;
}

@media screen and (min-width: 576px) {
  .product {
    width: 330px;
  }
}

.product .img {
  height: 20rem;
}

.product img {
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}

.product-footer {
  padding: 1.5rem;
  width: 100%;
}

.product-footer-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .7rem;
}

.product-footer-details span {
  font-weight: 600;
}

.product-btn {
  text-align: center;
}

.product-btn button {
  width: 100%;
}

/*
=============== 
Cart
===============
*/

.cart {
  padding: 2rem;
}

.carts-center {
  max-width: var(--fixed-width);
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.item-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-img {
  width: 5rem;
  height: 5rem;
}

.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  margin-left: 1.5rem;
}

.details .item-title h4 {
  font-weight: 700;
}

.details .item-price {
  color: var(--clr-grey-5);
}

.details .remove-btn {
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  margin-top: 0.375rem;
  transition: var(--transition);
}

.remove-btn:hover {
  color: var(--clr-primary-light);
}

.amount-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.amount-btn svg {
  fill: var(--clr-primary);
}

.amount-btn:hover svg {
  fill: var(--clr-primary-light);
}

.amount {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1;
}

hr {
  background: var(--clr-grey-5);
  border-color: transparent;
  border-width: 0.25px;
}

.empty-cart {
  margin: 1.5rem 0;
  margin-bottom: 3rem;
}

.cart-footer {
  margin-top: 4rem;
  text-align: center;
  max-width: var(--fixed-width);
  width: 100%;
  margin: 0 auto;
}

.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.clear-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  margin-top: 2.25rem;
  border-radius: var(--radius);
}

.clear-btn:hover {
  background: var(--clr-red-light);
  color: var(--clr-red-dark);
  border-color: var(--clr-red-light);
}

.nav-bg-color {
  background-color: rgb(234, 234, 234);
}